@font-face {
    font-family: 'Noto-Sans KR';
    src: url('./Noto_Sans_KR/NotoSansKR-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto-Sans KR';
    color: black;
}

a {
    text-decoration: none;
}

.wrap {
    overflow: hidden;
    width: auto;
    position: relative;
}
#bar-chart  {
    padding: 150px 250px;
}
#line-chart {
    padding: 150px 250px;
}
#doughnut-chart{
    padding: 150px 250px;
}
/* 헤더 시작 */
header {
    width: 100%;
    background-color: rgb(41, 41, 96);
    height: 70px;
    
}

#header-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(41, 41, 96);
    height: 100%;
    margin-left: 10px;
    
}
header li a:hover {
    color: rgb(255, 196, 0);
    text-decoration: unset;
}

.list-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    font-size: 14px;
}

.fa-calendar {
    font-size: 40px;
    color: #F1F0EC;
    
}
.list-menu a:nth-child(1) {
  margin: 0px 15px;
}
.list-menu > li > a {
    color: rgb(255, 255, 255);
}

.login a, .logout a {
    border-radius: 20px;
    padding: 5px 30px;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 800;
}


/* 헤더 끝 */

/* footer */
footer {
    width: 100%;
    height: 120px;
    background-color: rgb(41, 41, 96);
    
    bottom: 0;
}
#copyright {
    position: relative;
}
.copyright-wrap {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateY(250%);
}

.copyright-text {
    align-items: center;
    color: #fff;
}